.pip {
    color: blue;
}

.sidebar {
    width: 10rem;
    height: cal(100vh - 52px);
    border-right: 1px solid gray;

    ul{
        list-style: none;
        padding: 1rem 2rem;

        li{
            margin-bottom: 1rem;
            a{
                text-decoration: none;
            }
            
        }

    }
}